{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh
# vim:ft=sh

info_msg() {
  echo -e "\n\033[1;32m${1}\033[0m"
}

# Installing AGS for hyprland and EWW for bspwm
{{ if eq .wm "hyprland" }}
info_msg "Installing AGS ..."
paru -S aylurs-gtk-shell-git libastal-meta gvfs
cd "$HOME/.config/ags/" && ags types Astal*
{{ else if eq .wm "bspwm" }}
info_msg "Installing EWW ..."
paru -S eww-git
{{ end -}}
{{ end -}}
