{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh
# vim:ft=sh

info_msg() {
  echo -e "\n\033[1;32m${1}\033[0m"
}

# Installing Zen Browser, the new "Arc like" browser based on firefox
if ! command -v zen; then
  info_msg "Installing Zen Browser ..."
  cd "$HOME/Downloads/" &&
  wget https://github.com/zen-browser/desktop/releases/latest/download/zen.linux-x86_64.tar.xz
  tar xvf zen.linux-x86_64.tar.xz
  mv zen ~/.local/share/zen
  ln -s ~/.local/share/zen/zen ~/.local/bin/zen
fi
{{ end -}}
