{{- if eq .osid "linux-cachyos" "linux-arch" -}}
#!/bin/sh
# vim:ft=sh

info_msg() {
  echo -e "\n\033[1;32m${1}\033[0m"
}

XDG_DATA_HOME="$HOME/.local/share"

# Installing Hyprland with AGS or BSPWM with EWW
{{- if eq .wm "hyprland" }}

info_msg "Installing Hyprland ..."
paru -S --needed hyprland xdg-desktop-portal-hyprland foot wofi-emoji swww wl-clipboard \
  hyprsunset grim satty hyprlock

info_msg "Installing AGS ..."
export GOPATH="$XDG_DATA_HOME/go"
paru -S --needed aylurs-gtk-shell-git libastal-meta gvfs dart-sass
cd "$HOME/.config/ags/" && ags types Astal*
[ -f "$HOME/.config/ags/app" ] || ags bundle app.ts app

{{ else if eq .wm "bspwm" }}

info_msg "Installing BSPWM ..."
paru -S --needed xf86-video-amdgpu bspwm sxhkd sx rofi-emoji xorg-server xdo xdotool \
  xorg-xrandr xorg-xkill xorg-xset xorg-xsetroot redshift xorg-xclip xorg-setxkbmap flameshot

info_msg "Installing EWW ..."
export RUSTUP_HOME="$XDG_DATA_HOME/rustup"
paru -S --needed eww-git

{{- end -}}
{{- end -}}
