{{- if eq .osid "linux-cachyos" "linux-arch" "linux-void" -}}
#!/bin/bash
# vim:ft=bash

info_msg() {
  echo -e "\n\033[1;32m${1}\033[0m"
}

{{- if eq .osid "linux-cachyos" "linux-arch" }}

PKGS=(
  zsh-autosuggestions
  zsh-syntax-highlighting
  starship
  awk
  npm
  playerctl
  ttf-fira-sans
  pipewire-alsa
  pipewire-audio
  pipewire-jack
  pipewire-pulse
  pcmanfm-gtk3
  mesa
  lazygit
  dex
  gcc
  neovim
  yazi
  btop
  fzf
  ripgrep
  papirus-icon-theme
  brightnessctl
  curl
  wget
  socat
  jq
  flatpak
  zathura-pdf-poppler
  lsd
  tmux
  trash-cli
  imv
  mpv
  dunst
  wireplumber
  sof-firmware
  pulsemixer
  opendoas
  rustup
  meson
  ninja
  tealdeer
  base-devel
  fastfetch
  gnome-keyring
  7zip
  mangohud
  cronie
  yt-dlp
  keyd
  tree-sitter
  mediainfo
)

# Installing packages
info_msg "Installing packages ..."
sudo pacman -Syu --needed "${PKGS[@]}"
flatpak remote-add --if-not-exists flathub https://dl.flathub.org/repo/flathub.flatpakrepo

{{- if not (lookPath "paru") }}

info_msg "Installing paru ..."
cd /tmp && git clone https://aur.archlinux.org/paru-bin
cd paru-bin && sudo makepkg -sic --noconfirm
cd /tmp && rm -rf /tmp/paru-bin

{{- end -}}
{{- else if eq .osid "linux-void" }}

PKGS=(
  zsh-autosuggestions
  zsh-syntax-highlighting
  starship
  gawk
  nodejs
  lazygit
  gcc
  neovim
  yazi
  btop
  fzf
  ripgrep
  curl
  wget
  jq
  poppler
  lsd
  tmux
  trash-cli
  opendoas
  meson
  ninja
  tealdeer
  fastfetch
  7zip
  cronie
  tree-sitter
  mediainfo
)

# Installing packages
info_msg "Installing packages ..."
sudo xbps-install -Syu "${PKGS[@]}"

{{- end -}}
{{- end -}}
