{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh
# vim:ft=sh

# Installing rust via rustup
echo -e "\n\033[1;32mInstalling rust ...\033[0m"
rustup toolchain install nightly
rustup default nightly
{{ end -}}
