# ~/.config/hypr/hyprland.conf

{{ $kb_layout := "us" -}}
# Monitors
{{ if eq .device_type "desktop" -}}

monitor=DP-1,1920x1080@120,0x0,1

{{ else if eq .device_type "laptop" -}}
{{-   $kb_layout = "br" -}}

## Laptop Monitor
monitor=eDP-1,1920x1080@60,0x0,1
## External Monitor
monitor=HDMI-A-1,1920x1080@60,0x-1080,1
## Mirror Laptop Monitor
# monitor=HDMI-A-1, 1920x1080@60, 0x0, 1, mirror, eDP-1

{{ end -}}
# Startup config
source = ~/.config/hypr/startup.conf

general {
  gaps_in = 4
  gaps_out = 8
  border_size = 3
  col.active_border = rgb(7E9CD8) #7E9CD8
  col.inactive_border = rgb(1F1F28) #1F1F28

  layout = dwindle
  no_border_on_floating = false
}

decoration {
  blur {
    enabled = true
    size = 4
  }
  shadow {
    enabled = false
  }
}

animations {
  enabled = true

  bezier = easeOut, 0.16, 1, 0.3, 1

  animation = windows, 0
  animation = workspaces, 0
  animation = layers, 1, 6, easeOut, slide

  animation = fade, 0
  animation = fadeLayers, 1, 4, easeOut
}

dwindle {
  force_split = 2
}

misc {
  disable_hyprland_logo = true
  disable_splash_rendering = true
  mouse_move_enables_dpms = true

  vrr = 2
  enable_swallow = true
  swallow_regex = ^(footclient)$
}

input {
  kb_layout = {{ $kb_layout }}
  kb_options = compose:menu
  follow_mouse = true
  mouse_refocus = false

  touchpad {
    natural_scroll = true
  }

  sensitivity = 0 # -1.0 - 1.0, 0 means no modification.

  numlock_by_default = true
  accel_profile = flat
  repeat_rate = 40
  repeat_delay = 300
}

gestures {
  workspace_swipe = true
}

# Window Rules
source = ~/.config/hypr/rules.conf

# Binds
source = ~/.config/hypr/binds.conf
