@use "../../theme" as *;

window.LeftSidebar {
  background-color: transparent;

  .sidebar {
    color: $fg1;
    background-color: $bg1;
    padding: 16px;
    margin: 8px;
    border: none;
    border-radius: 24px;
    box-shadow: 0px 0px 5px rgba(black, 0.7);
  }

  .TimeAndDate {
    padding: 10px 0px 30px 0px;
    text-shadow: 2px 2px 3px rgba(black, 0.9);
    .Time {
      font-size: 60px;
      font-weight: 800;
    }
    .Today {
      font-size: 20px;
      font-weight: 600;
    }
  }

  .calendar_widget {
    font-family: $font2;
    font-weight: 600;
    background-color: $bg2;
    border-radius: 12px;
    .not_incurrent {
      color: grey;
    }
    .today {
      font-weight: 900;
      color: $bg2;
      background-color: $accent;
      border-radius: 12px;
    }
    .control {
      background-color: inherit;
    }
  }

  .calendar {
    font-family: $font2;
    font-weight: 500;
    background-color: $bg2;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0px 0px 5px rgba(black, 0.2);
  }

  .calendar calendar {
    all: unset;
    color: $fg1;
    font-size: 16px;

    // Dia selecionado
    &:selected {
      font-weight: 900;
      color: $bg2;
      background-color: $accent;
      border-radius: 12px;
    }

    // Mês e Ano
    &.header {
      font-weight: 900;
      color: #727169;
    }

    // Botões para selecionar mês e ano
    &.button {
      color: #727169;
    }

    // Dias da semana
    &.highlight {
      color: #9cabca;
      font-weight: 900;
    }
    // Dias que não fazem parte do mês atual
    &:indeterminate {
      color: #727169;
      font-weight: 500;
    }
  }

  .Weather {
    font-family: $font2;
    background-color: $bg2;
    margin-top: 16px;
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(black, 0.2);
    .Image {
      background-position: left;
      background-size: cover;
      border-radius: 16px;
      min-height: 160px;
      min-width: 300px;
    }
    .Current {
      background: linear-gradient(to left, rgba($bg1, 0.4), rgba($bg1, 0.1));
      border-radius: 16px;
      text-shadow: 2px 2px 3px rgba(black, 0.9);
      .Icon {
        font-size: 48px;
        padding: 16px 0 0 16px;
      }
      .Description {
        color: $fg2;
        font-size: 18px;
        font-weight: 600;
        padding: 0 0 12px 12px;
      }
      .Temp {
        font-size: 48px;
        font-weight: 700;
        color: rgba($fg2, 0.9);
        padding: 4px 10px 0 0;
      }
      .FeelsLike {
        font-weight: 500;
        color: rgba($fg2, 0.8);
        padding: 0 16px 0 0;
      }
      .Info {
        font-size: 12px;
        font-weight: 600;
        color: rgba($fg2, 0.8);
        padding: 0 12px 12px 0;
      }
    }
    .HourlyForecast {
      font-weight: 500;
      padding: 6px 0;
    }
  }
}
