@use "sass:string";

$bg1: #16161d;
$bg2: #1f1f28;
$fg1: #c8c093;
$fg2: #dcd7ba;
$accent: #7e9cd8;
$error: #c34043;
$radius: 0px;

$font1: "JetBrainsMono Nerd Font";
$font2: "Fira Sans";

@function gtkalpha($c, $a) {
  @return string.unquote("alpha(#{$c},#{$a})");
}
