* {
  all: unset;
}

window {
  background-color: #16161d;
  color: #c8c093;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
  font-weight: 700;
}

#entry {
  min-height: 28px;
  margin-right: 4px;
  padding: 0px 6px 0px 2px;
}

#entry:selected {
  background-color: #2A2A37;
  color: #DCD7BA;
}

#input {
  background-color: #1f1f28;
  padding-left: 8px;
}
